<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>It's Always Sunny In Filly</title>
</head>
<body>
    <div class="max-w-4xl mx-auto py-6">
        <div class="grid grid-cols-8 grid-rows-4 gap-2" style="height: 36rem">
            <div class="col-span-4 row-span-2">
                <h1 class="text-2xl font-semibold mb-2">
                    It's Always Sunny In Filly
                </h1>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget metus libero. Proin ultrices dolor
                    eget elit commodo malesuada. Aliquam erat volutpat.
                </p>
            </div>

            <div class="col-span-2 row-span-2">
                {% include 'partials/image.twig' with { width: 218, height: 284 } %}
            </div>

            <div class="col-span-2 row-span-1">
                {% include 'partials/image.twig' with { width: 218, height: 138 } %}
            </div>

            <div class="col-span-2 row-span-1">
                {% include 'partials/image.twig' with { width: 218, height: 139 } %}
            </div>

            <div class="col-span-4 row-span-2">
                {% include 'partials/image.twig' with { width: 444, height: 284 } %}
            </div>

            <div class="col-span-1 row-span-1">
                {% include 'partials/image.twig' with { width: 105, height: 138 } %}
            </div>

            <div class="col-span-1 row-span-1">
                {% include 'partials/image.twig' with { width: 105, height: 139 } %}
            </div>

            <div class="row-span-2 col-span-2">
                {% include 'partials/image.twig' with { width: 218, height: 285 } %}
            </div>

            <div class="col-span-2 row-span-1">
                {% include 'partials/image.twig' with { width: 218, height: 140 } %}
            </div>
        </div>
    </div>
</body>
</html>
